@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/forms";

@layer base {
  body {
    @apply container mx-auto max-w-4xl bg-white text-black dark:text-slate-100 dark:bg-slate-950;
  }
}